<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADAppComercial.Properties.Settings.LuisAplicacionComercialConnectionString"
            connectionString="Data Source=keypress.serveftp.net;Initial Catalog=LuisAplicacionComercial;Persist Security Info=True;User ID=sa;Password=sentey14$"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>